<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54470483-5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-54470483-5');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Discover .NET@(Model.ContainsKey("Title") ? " - " + Model.String("Title") : "")</title>

        <meta name="description" content="Awesome .NET open source & community resources">
        
        <link href="/bootstrap/bootstrap.css" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.0.0-rc.11/dist/bootstrap-vue.css" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Roboto+Mono:400,700|Roboto+Slab:100,700|Roboto:300,400,700" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/leaflet@1.3.1/dist/leaflet.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.3.0/dist/MarkerCluster.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.min.css" rel="stylesheet">
        <link href="/assets/styles.css" rel="stylesheet"/>  

        <script src="https://cdn.jsdelivr.net/npm/es6-promise/dist/es6-promise.auto.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.0.0-rc.11/dist/bootstrap-vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.3.5"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet@1.3.1/dist/leaflet.min.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/vue2-leaflet@0.0.58/dist/vue2-leaflet.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.3.0/dist/leaflet.markercluster-src.min.js"></script>
        <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>

        @RenderSection("Head", false)

        <script>
            hljs.initHighlightingOnLoad();
        </script>
    </head>
    <body>
        <div id="app" class="d-flex flex-column flex-nowrap h-100">
            <header class="mb-4">
                <div class="logo-header text-center">
                    <div class="logo-wrapper">
                        <div class="logo container-fluid layout-container">
                            <div class="binoculars">
                                <i class="fas fa-binoculars" data-fa-transform="rotate-30"></i>
                            </div>
                            <a href="/"><img src="/assets/logo.svg"></img></a>
                            <p class="d-none d-sm-block">Awesome .NET open source & community resources</p>
                        </div>                        
                    </div>
                    <v-map :zoom="headerMapZoom" :center="headerMapCenter" :options="headerMapOptions" class="header-map">
                        <v-tilelayer :url="headerMapUrl" :attribution="headerMapAttribution"></v-tilelayer>
                    </v-map>
                </div>
                <b-navbar toggleable="md" type="dark" variant="dark">
                    <b-container fluid class="layout-container">
                        <div class="flex-grow-1">
                            <b-navbar-toggle target="main-nav-collapse"></b-navbar-toggle>
                            <b-collapse is-nav id="main-nav-collapse">
                                    <b-navbar-nav class="float-md-left">
                                        <b-nav-item href="/projects">Projects</b-nav-item>
                                        <b-nav-item href="/issues">Issues</b-nav-item>
                                        <b-nav-item href="/blogs">Blogs</b-nav-item>
                                        <b-nav-item href="/broadcasts">Broadcasts</b-nav-item>
                                        <b-nav-item href="/groups">Groups</b-nav-item>
                                        <b-nav-item href="/events">Events</b-nav-item>
                                        <b-nav-item href="/resources">Resources</b-nav-item>
                                    </b-navbar-nav>     
                            </b-collapse>  
                        </div>                
                        <b-navbar-nav class="align-self-start">
                            <search-box :project-keys="projectKeys"></search-box>
                        </b-navbar-nav>   
                    </b-container>
                </b-navbar>
            </header>
            <main>
                <b-container fluid id="main" class="layout-container">
                    @RenderBody()
                </b-container>
            </main>
            <footer class="bg-dark text-center text-muted py-3 mt-5">
                <b-container fluid class="layout-container">
                    <div class="mb-2">
                        <a href="/get-involved" class="text-light mr-2">Get Involved</a>
                        <a href="/suggest" class="text-light mr-2">Suggest Content</a>
                        <a href="/api" class="text-light">API</a>
                    </div>
                    <div class="mb-2 text-light">
                        <a href="/feeds" class="text-light mr-2"><i class="fas fa-rss"></i></a>
                        <a href="https://github.com/daveaglick/discoverdotnet" class="text-light mr-2"><i class="fab fa-github"></i></a>
                        <a href="https://twitter.com/discover_dotnet" class="text-light"><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="small">Data updated about every two hours</div>
                    <div class="small"><i class="fas fa-heart"></i> Generated by <a href="https://wyam.io" class="text-light">Wyam</a> on <a href="https://appveyor.com" class="text-light">AppVeyor</a>, hosted at <a href="https://netlify.com" class="text-light">Netlify</a>, search by <a href="https://algolia.com" class="text-light">Algolia</a></div>
                    <div class="mt-2"><a href="https://www.buymeacoffee.com/daveaglick" target="_blank"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee" style="height: auto !important;width: auto !important;" ></a></div>
                </b-container>
            </footer>
        </div>

        @RenderSection("Script", false)

        <script type="text/javascript">
            Vue.config.debug = true; 
            Vue.config.devtools = true

            // Global components
            Vue.component('loading', httpVueLoader('/components/loading.vue'));   
            Vue.component('description', httpVueLoader('/components/description.vue'));   
            Vue.component('small-card', httpVueLoader('/components/cards/small-card.vue'));   
            Vue.component('card', httpVueLoader('/components/cards/card.vue'));   
            Vue.component('card-grid', httpVueLoader('/components/grids/card-grid.vue'));    
            Vue.component('filter-buttons', httpVueLoader('/components/grids/filter-buttons.vue'));  
            Vue.component('paged-grid', httpVueLoader('/components/grids/paged-grid.vue'));       
            Vue.component('project-card', httpVueLoader('/components/cards/project-card.vue'));
            Vue.component('blog-card', httpVueLoader('/components/cards/blog-card.vue'));
            Vue.component('broadcast-card', httpVueLoader('/components/cards/broadcast-card.vue'));
            Vue.component('issue-card', httpVueLoader('/components/cards/issue-card.vue'));
            Vue.component('feed-item-card', httpVueLoader('/components/cards/feed-item-card.vue'));
            Vue.component('group-card', httpVueLoader('/components/cards/group-card.vue'));
            Vue.component('event-card', httpVueLoader('/components/cards/event-card.vue'));
            Vue.component('resource-card', httpVueLoader('/components/cards/resource-card.vue'));
            Vue.component('body-tabs', httpVueLoader('/components/body-tabs.vue'));   
            Vue.component('search-box', httpVueLoader('/components/search/search-box.vue'));   
            Vue.component('search-results', httpVueLoader('/components/search/search-results.vue'));   
            Vue.component('search-query', httpVueLoader('/components/search/search-query.vue'));   
            Vue.component('play-button', httpVueLoader('/components/feeds/play-button.vue'));   

            // Map components
            Vue.component('v-map', Vue2Leaflet.Map);
            Vue.component('v-tilelayer', Vue2Leaflet.TileLayer);
            Vue.component('v-marker', Vue2Leaflet.Marker);
            Vue.component('v-popup', Vue2Leaflet.Popup);
            Vue.component('v-marker-cluster', httpVueLoader('/components/Vue2LeafletMarkercluster.vue'));

            Vue.filter('no-protocol', function (value) {
                if (!value)
                {
                    return '';
                }
                return value.replace(/^\/\/|^.*?:(\/\/)?/, '');
            });

            Vue.filter('from-now', function (value) {
                if (!value)
                {
                    return '';
                }
                return moment(value).fromNow();
            });
                        
            Vue.filter('event-date', function (value) {
                if (!value)
                {
                    return '';
                }
                return moment(value, "YYYY/MM/DD").format("l");
            });
                        
            Vue.filter('event-time', function (value) {
                if (!value)
                {
                    return '';
                }
                return moment(value, "HH:mm").format("LT");
            });

            Vue.mixin({
                methods: {
                    getCard: function(cardData) {
                        var link = String(cardData.link);
                        if(link) {
                            if(link.startsWith('/projects')) {
                                return 'project-card';
                            }
                            if(link.startsWith('/blogs')) {
                                return 'blog-card';
                            }
                            if(link.startsWith('/broadcasts')) {
                                return 'broadcast-card';
                            }
                        }
                        var cardType = cardData.cardType;
                        if(cardType) {
                            if(cardType === "Group") {
                                return 'group-card';
                            }
                            if(cardType === "Event") {
                                return 'event-card';
                            }
                            if(cardType === "Resource") {
                                return 'resource-card';
                            }
                        }
                        return 'card';
                    }
                }
            });

            new Vue({
                el: '#app',
                data: {
                    headerMapZoom: 10,
                    headerMapCenter: [
                        (Math.random() * 40 + 20).toFixed(3) * 1,
                        (Math.random() * 120).toFixed(3) * 1
                    ],
                    //headerMapUrl: 'http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png',
                    headerMapUrl: 'https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.png',
                    headerMapAttribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>',
                    headerMapOptions: {
                        zoomControl: false,
                        boxZoom: false,
                        doubleClickZoom: false,
                        dragging: false,
                        keyboard: false,
                        scrollWheelZoom: false,
                        touchZoom: false
                    },
                    projectKeys: []
                },
                created: function() {        
                    var self = this;      
                    axios
                        .get('/data/project-keys.json')
                        .then(function(response) {
                            self.projectKeys = response.data
                        })
                        .catch(function(e) {
                            console.log(e);
                        });
                }
            });
        </script>
    </body>
</html>