@{
	Layout = @"/_Layout.cshtml";
}

<b-container>
    @if(Model.ContainsKey(SiteKeys.Title))
    {
        <h1 class="font-weight-bold display-4">
            @Model.GetString(SiteKeys.Title)
        </h1>
    }
    <b-card>
        @RenderBody()
    </b-card>
</b-container>