<b-row>
    <b-col>
        <discovery></discovery>
    </b-col>
    <b-col>
        <div class="text-center">
            <h3>
                <span class="accent-secondary">Yesterday's</span>
                <span class="accent-primary">News</span>
                
                <!-- This adds extra height to line up the hr -->
                <span class="h1"></span>
            </h3>
            <hr/>
            <p class="small">A roundup of blog posts from the previous day.</p>
        </div>

        <b-card-group deck class="mb-4">
            <b-card>
                <div class="font-weight-bold"><a href="#">Post title</a></div>
                <div class="small">Friday, January 12, 2018</div>
                <div><a href="#">Name (or link?) of the blog</a></div>                
            </b-card>
            <b-card>
                <div class="font-weight-bold"><a href="#">Post title</a></div>
                <div class="small">Friday, January 12, 2018</div>
                <div><a href="#">Name (or link?) of the blog</a></div>                
            </b-card>
        </b-card-group>        
        <b-card-group deck class="mb-4">
            <b-card>
                <div class="font-weight-bold"><a href="#">Post title</a></div>
                <div class="small">Friday, January 12, 2018</div>
                <div><a href="#">Name (or link?) of the blog</a></div>                
            </b-card>
            <b-card>
                <div class="font-weight-bold"><a href="#">Post title</a></div>
                <div class="small">Friday, January 12, 2018</div>
                <div><a href="#">Name (or link?) of the blog</a></div>                
            </b-card>
        </b-card-group>

        <div class="text-right">
            <b-button href="/blogs">View More Blogs</b-button>
        </div>
    </b-col>
</b-row>
<discoveries></discoveries>

<script type="text/javascript">
    Vue.component('discovery', httpVueLoader('/discovery.vue'));
    Vue.component('discoveries', httpVueLoader('/discoveries.vue'));
</script>