<div class="text-center">
    <h1><span class="accent-primary">Discovery</span> <span class="accent-script small">of the</span> <span class="accent-secondary">day</span></h1>
    <hr />
    <h5 class="accent-script">Monday, January 14th</h5>
    <p>A new featured .NET open source project (almost) every day. Add the <a href="/feed.rss">RSS feed</a> to your feed reader to collect them all.</p>
</div>
<b-card no-body header-text-variant="white" header-bg-variant="dark" footer-bg-variant="white" footer-border-variant="white">
    <h5 slot="header" class="text-center">Wyam</h5>
    <b-card-body class="flex-0">
        <b-row class="text-center">
            <b-col>
                <div><i class="fas fa-star"></i></div>
                <h4>14</h4>
            </b-col>
            <b-col>
                <div><i class="fas fa-code-branch"></i></div>
                <h4>245</h4>
            </b-col>
            <b-col>
                <div><i class="fas fa-bug"></i></div>
                <h4>25</h4>
            </b-col>
        </b-row>
    </b-card-body>
    <b-card-body>        
        <p class="card-text">
            A modular static content and static site generator.
        </p>
    </b-card-body>        
    <dl slot="footer" class="small row">
        <dt class="col-sm-6">Web Site</dt>
        <dd class="col-sm-6"><a href="#">wyam.io</a></dd>
        <dt class="col-sm-6">Repository</dt>
        <dd class="col-sm-6"><a href="#">Wyamio/Wyam</a></dd>
        <dt class="col-sm-6">Maintainer(s)</dt>
        <dd class="col-sm-6"><a href="#">daveaglick</a></dd>
        <dt class="col-sm-6">NuGet</dt>
        <dd class="col-sm-6"><a href="#">Wyam</a></dd>
        <dt class="col-sm-6">Twitter</dt>
        <dd class="col-sm-6"><a href="#">@@wyamio</a></dd>
        <dt class="col-sm-6">Gitter</dt>
        <dd class="col-sm-6"><a href="#">Wyamio/Wyam</a></dd>
        <dt class="col-sm-6">Language</dt>
        <dd class="col-sm-6"><a href="#"><b-badge>C#</b-badge></a></dd>
        <dt class="col-sm-6">Tag(s)</dt>
        <dd class="col-sm-6"><a href="#"><b-badge>static sites</b-badge></a></dd>
    </dl>
</b-card>

<div class="text-center mt-5">
    <h3><span class="accent-secondary">Previous discoveries</span></h3>
    <hr />
</div>
<b-card-group deck>
    <b-card no-body header-text-variant="white" header-bg-variant="dark" footer-bg-variant="white" footer-border-variant="white">
        <h5 slot="header" class="text-center">Buldalyzer</h5>
        <b-card-body class="flex-0">
            <b-row class="text-center">
                <b-col>
                    <div><i class="fas fa-star"></i></div>
                    <h4>14</h4>
                </b-col>
                <b-col>
                    <div><i class="fas fa-code-branch"></i></div>
                    <h4>245</h4>
                </b-col>
                <b-col>
                    <div><i class="fas fa-bug"></i></div>
                    <h4>25</h4>
                </b-col>
            </b-row>
        </b-card-body>
        <b-card-body>        
            <p class="card-text">
                A little utility to perform design-time builds of .NET projects without having to think too hard about it.
            </p>
        </b-card-body>    
        <dl slot="footer" class="small row">
            <dt class="col-sm-6">Web Site</dt>
            <dd class="col-sm-6"><a href="#">wyam.io</a></dd>
            <dt class="col-sm-6">Repository</dt>
            <dd class="col-sm-6"><a href="#">Wyamio/Wyam</a></dd>
            <dt class="col-sm-6">Maintainer(s)</dt>
            <dd class="col-sm-6"><a href="#">daveaglick</a></dd>
            <dt class="col-sm-6">NuGet</dt>
            <dd class="col-sm-6"><a href="#">Wyam</a></dd>
            <dt class="col-sm-6">Twitter</dt>
            <dd class="col-sm-6"><a href="#">@@wyamio</a></dd>
            <dt class="col-sm-6">Gitter</dt>
            <dd class="col-sm-6"><a href="#">Wyamio/Wyam</a></dd>
            <dt class="col-sm-6">Language</dt>
            <dd class="col-sm-6"><a href="#"><b-badge>C#</b-badge></a></dd>
            <dt class="col-sm-6">Tag(s)</dt>
            <dd class="col-sm-6"><a href="#"><b-badge>static sites</b-badge></a></dd>
        </dl>
    </b-card>
    <b-card no-body header-text-variant="white" header-bg-variant="dark" footer-bg-variant="white" footer-border-variant="white">
        <h5 slot="header" class="text-center">Scripty</h5>
        <b-card-body class="flex-0">
            <b-row class="text-center">
                <b-col>
                    <div><i class="fas fa-star"></i></div>
                    <h4>14</h4>
                </b-col>
                <b-col>
                    <div><i class="fas fa-code-branch"></i></div>
                    <h4>245</h4>
                </b-col>
                <b-col>
                    <div><i class="fas fa-bug"></i></div>
                    <h4>25</h4>
                </b-col>
            </b-row>
        </b-card-body>
        <b-card-body>    
            <p class="card-text">
                Some quick example text to build on the <em>card title</em> and make up the bulk of the card's content.
                Some quick example text to build on the <em>card title</em> and make up the bulk of the card's content.
                Some quick example text to build on the <em>card title</em> and make up the bulk of the card's content.
            </p>
        </b-card-body>
        <dl slot="footer" class="small row">
            <dt class="col-sm-6">Web Site</dt>
            <dd class="col-sm-6"><a href="#">wyam.io</a></dd>
            <dt class="col-sm-6">Repository</dt>
            <dd class="col-sm-6"><a href="#">Wyamio/Wyam</a></dd>
            <dt class="col-sm-6">Maintainer(s)</dt>
            <dd class="col-sm-6"><a href="#">daveaglick</a></dd>
            <dt class="col-sm-6">NuGet</dt>
            <dd class="col-sm-6"><a href="#">Wyam</a></dd>
            <dt class="col-sm-6">Twitter</dt>
            <dd class="col-sm-6"><a href="#">@@wyamio</a></dd>
            <dt class="col-sm-6">Gitter</dt>
            <dd class="col-sm-6"><a href="#">Wyamio/Wyam</a></dd>
            <dt class="col-sm-6">Language</dt>
            <dd class="col-sm-6"><a href="#"><b-badge>C#</b-badge></a></dd>
            <dt class="col-sm-6">Tag(s)</dt>
            <dd class="col-sm-6"><a href="#"><b-badge>static sites</b-badge></a></dd>
        </dl>
    </b-card>
    <div class="w-100 mb-4 d-lg-none"></div>
    <b-card no-body header-text-variant="white" header-bg-variant="dark" footer-bg-variant="white" footer-border-variant="white">
        <h5 slot="header" class="text-center">NetlifySharp</h5>
        <b-card-body class="flex-0">
            <b-row class="text-center">
                <b-col>
                    <div><i class="fas fa-star"></i></div>
                    <h4>14</h4>
                </b-col>
                <b-col>
                    <div><i class="fas fa-code-branch"></i></div>
                    <h4>245</h4>
                </b-col>
                <b-col>
                    <div><i class="fas fa-bug"></i></div>
                    <h4>25</h4>
                </b-col>
            </b-row>
        </b-card-body>
        <b-card-body>    
            <p class="card-text">
                Some quick example text to build on the <em>card title</em> and make up the bulk of the card's content.
            </p>
        </b-card-body>
        <dl slot="footer" class="small row">
            <dt class="col-sm-6">Repository</dt>
            <dd class="col-sm-6"><a href="#">Wyamio/Wyam</a></dd>
            <dt class="col-sm-6">Maintainer(s)</dt>
            <dd class="col-sm-6"><a href="#">daveaglick</a></dd>
            <dt class="col-sm-6">NuGet</dt>
            <dd class="col-sm-6"><a href="#">Wyam</a></dd>
            <dt class="col-sm-6">Language</dt>
            <dd class="col-sm-6"><a href="#"><b-badge>C#</b-badge></a></dd>
            <dt class="col-sm-6">Tag(s)</dt>
            <dd class="col-sm-6"><a href="#"><b-badge>static sites</b-badge></a></dd>
        </dl>
    </b-card>
    <b-card no-body header-text-variant="white" header-bg-variant="dark" footer-bg-variant="white" footer-border-variant="white">
        <h5 slot="header" class="text-center">Cake</h5>
        <b-card-body class="flex-0">
            <b-row class="text-center">
                <b-col>
                    <div><i class="fas fa-star"></i></div>
                    <h4>14</h4>
                </b-col>
                <b-col>
                    <div><i class="fas fa-code-branch"></i></div>
                    <h4>245</h4>
                </b-col>
                <b-col>
                    <div><i class="fas fa-bug"></i></div>
                    <h4>25</h4>
                </b-col>
            </b-row>
        </b-card-body>
        <b-card-body>    
            <p class="card-text">
                asdfasfd
            </p>
        </b-card-body>
        <dl slot="footer" class="small row">
            <dt class="col-sm-6">Web Site</dt>
            <dd class="col-sm-6"><a href="#">wyam.io</a></dd>
            <dt class="col-sm-6">Repository</dt>
            <dd class="col-sm-6"><a href="#">Wyamio/Wyam</a></dd>
            <dt class="col-sm-6">Maintainer(s)</dt>
            <dd class="col-sm-6"><a href="#">daveaglick</a></dd>
            <dt class="col-sm-6">NuGet</dt>
            <dd class="col-sm-6"><a href="#">Wyam</a></dd>
            <dt class="col-sm-6">Twitter</dt>
            <dd class="col-sm-6"><a href="#">@@wyamio</a></dd>
            <dt class="col-sm-6">Gitter</dt>
            <dd class="col-sm-6"><a href="#">Wyamio/Wyam</a></dd>
            <dt class="col-sm-6">Language</dt>
            <dd class="col-sm-6"><a href="#"><b-badge>C#</b-badge></a></dd>
            <dt class="col-sm-6">Tag(s)</dt>
            <dd class="col-sm-6"><a href="#"><b-badge>static sites</b-badge></a></dd>
        </dl>
    </b-card>
</b-card-group>