[Pp]ackages/
[Tt]ools/*
![Tt]ools/packages.config
[Oo]utput/
[Oo]utput.issues/
[Rr]elease/
nuget.exe
/debug.log
/node_modules/
/output.zip
/packages.xml
/config.wyam.hash
/config.wyam.dll
/issues.wyam.hash
/issues.wyam.dll