[Bb]in/
[Oo]bj/
[Pp]ackages/
[Tt]ools/*
[Oo]utput/
[Oo]utput.issues/
[Dd]ebug/
[Rr]elease/
[Dd]iagnostic/
nuget.exe
/debug.log
/node_modules/
/output.zip
/*.packages.xml
/*.wyam.hash
/*.wyam.dll
.vs
.vscode
!.vscode/settings.json