@{
	Layout = @"/_Layout.cshtml";
}

<b-container>
    @if(Model.ContainsKey("Title"))
    {
        <h1 class="font-weight-bold display-4">
            @Model.GetString("Title")
        </h1>
    }
    <b-card>
        @RenderBody()
    </b-card>
</b-container>