<opml version="1.0">
  <head>
    <title>Discover.NET Blog Collection</title>
  </head>
  <body>
    <outline text="Discover.NET Blog Collection" title="Discover.NET Blog Collection">
        <!-- TODO: Find a way to iterate over the feeds here -->
    </outline>
  </body>
</opml>